@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;600;700&family=Engagement&family=Public+Sans:wght@300;500;700&display=swap');

:root{
    --dark-blue: #174c92;
    --white-grey: #f5f6f7;    
    --yelow-light: #fcf9be;
    --golden:#FFD700;
    --blue-light: #0071BC;

    --body-font: "Public-Sans", sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    background: url("../assets/BG_WhiteEditted.png") repeat;
    margin: 0px;
    padding: 0px;
    font-family: var(--body-font);
}

.html{
    scroll-behavior: smooth; 
}

.menuContainer{
    overflow: hidden;
}

nav.header{
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    font-weight: bold;
    z-index: 100;
}

a.nav-link{
    color: var(--golden);
}

a.nav-link.active-link {
    color: var(--yelow-light);
    display: flex;
}

a.nav-link:hover {
    color: var(--yelow-light);
}

.underlineStyle{
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0.3), rgba(225, 225, 225, 0.75), rgba(225, 225, 225, 0.3));
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.btn{
    width: 50%;
    background-color: var(--blue-light);
    color: var(--white-grey);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--dark-blue);
    color: var(--white-grey);
}
/* animation transition */
@keyframes slideFromTop {
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes slideFromLeft {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes bounce{
    60%{
        transform: translateY(-15px);
    }
    0%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(30px);
    }
}


/* animation start  */
section .animate{
    transition: 2s;
}



/* home */
.homeContainer{
    /* background-image: url("../assets/bgPaint.png"); */
    background-image: url("../assets/BGBlueWave.png");
    padding: 7rem;
    color: var(--white-grey);
    background-size: contain;
    animation-name: slideFromTop;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: unset;
    animation-direction: normal;
    animation-fill-mode: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

.homeData{
    /* animation-name: slideFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none; */
}

.homeImg{
    /* animation-name: slideFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    justify-content: right;
    display: flex; */
}

/* home animation */
.homeImg.show-animate .animate{
    transform: translateX(10%);
}

.homeImg .animate{
    transform: translateX(0);
}

.homeData.show-animate .animate{
    transform: translateX(-10%);
}

.homeData .animate{
    transform: translateX(0);
}


/* menu2 */
/* ini bagian bg  */
/* .menu2Container{
    background-image: url("../assets/menu2BG.png");
    height: 100vh;
    color: var(--dark-blue);
    background-size: cover;
}

.menu2Data{
    width: 50%;
    padding-top: 25%;
} */

/* ini bagian timpa */
.menu2Container{
    position: relative;
}

.menu2Data{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:var(--dark-blue);
    background-size: auto;
}

/* menu2 animation  */
.menu2Img.show-animate .animate{
    transform: translateX(-300%);
}

.menu2Img .animate{
    transform: translateX(0);
}

.secMenu2Data.show-animate .animate{
    transform: translateX(300%);
}

.secMenu2Data .animate{
    transform: translateX(0);
}


/* .yellowSquare {
    width: 350px;
    justify-content: flex-start;
  }

.blueGridSquare{
    width: 500px;
} */


/* menu3Container */
.menu3{
    align-items: center;
    justify-content: center;
}

.menu3Container{
    row-gap: 5rem;
    padding: 7rem;
}


.sec1,
.sec2,
.sec3{
    margin: 2.5rem;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.sec2{
    justify-content: right;
    text-align: right;
} 


.menu3Data{
    width: 50%;
    grid-template-rows: (2, 1fr);
    margin: 0;
    padding: 0;
}

/* try animation for section3 */
.sec1 .animate,
.sec3 .animate{
    transform: translateX(-250%);
}

.sec1.show-animate .animate,
.sec3.show-animate .animate{
    transform: translateX(0);
}

.sec2 .animate{
    transform: translateX(250%);
}

.sec2.show-animate .animate{
    transform: translateX(0);
}

.menu3Img{
    /* width: 50%; */
    /* animation-name: slideFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none; */
}

.menu3Img img{
    width: 350px;
}

/* contact */
/* contact bagian bg  */
/* .contact{
    padding: 0;
    margin:0;
}
.contactContainer{
    background-image: url("../assets/Asset18@300x.png");
    background-size: cover;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contactInnerBoard{
    width: 80%; */
/* } */

    /* contact bgian timpa */
.contact{
    padding: 3rem;
}

.contactContainer{
    align-items: center;
    justify-content: center;
    display: flex;

}

.contactInnerBoard{
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    position: absolute;
    color:var(--dark-blue);
    justify-content: center;
    align-items: center;
} 

.blankBoardImg{
    width: 100%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 100px;
    box-sizing: border-box;
    filter: drop-shadow(1px 1px 1px #808080);
    color: var(--dark-blue);
}

input::placeholder {
    color: var(--blue-light);
    opacity: .5;
    font-size: 12px;
}

input[type=submit] {
    width: 35%;
    background-color: var(--blue-light);
    color: var(--white-grey);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
} 

input[type=submit]:hover {
    background-color: var(--dark-blue);
}

/* contact animation */
.contactImg.show-animate .animate{
    transform: translateX(0);
}

.contactImg .animate{
    transform: translateX(300%);
}

.contactInnerBoard.show-animate .animate{
    transform: translateX(0);
}

.contactInnerBoard .animate{
    transform: translateX(-250%);
}

/* footer */
.footer{
    width: 100%;
    background-image: url('../assets/Footer.png');
    color: var(--white-grey);
    background-size: cover;
    padding: 5rem;
    padding-bottom: 2rem;
    padding-top: 7rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footerContainer,
.footerCopyright{
    padding-bottom: 1rem;
}

.footerCopyright{
    padding-left: 1.5rem;
}

.footerTitle{
    padding-top: 1rem;
    margin-bottom: .25rem;
    font-weight: bold;
}


.footerList{
    font-size: var(--normal-font-size);
    padding: 0;
    margin: auto;
}

.footerSocial{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    /* column-gap: 1.25rem; */
}

.footerSocialLink{
    display: inline-block;
    padding: .5rem;
    color: var(--white-grey);
    font-size: 1.5rem;
    margin-top: 0;
    transition: .4s;
}

.footerSocialLink:hover{
    transform: translateY(-.25rem);
}


/* responsive css */
/* dari max-widt: 991px */
@media screen and (max-width: 1131px) {
    .homeContainer{
        background-size: cover;
    }
}

@media screen and (max-width: 991px){
    .homeContainer{
        padding: 5rem;
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    .homeImg img{
        height: 350px;
    }

    .menu3Container{
        padding: 2rem;
        gap: 5rem;
        justify-content: space-between;
    }
    
    .homeData h1,
    .menu2Data h1,
    .menu3Data h1,
    .contactData h1,
    .footerTitle{
        font-weight: bold;
        font-size: 22px;
    }

    .homeData p,
    .menu2Data p,
    .menu3Data p,
    .contactData p,
    .footerList,
    .footerCopyright,
    .btn,
    input[type=submit]{
        font-size: 12px;
    }

    
    input::placeholder ,
    .contactForm input{
        font-size: 10px;
    }

    .footerSocialLink{
        font-size: 18px;
    }
    
    .menu3Img img{
        width: 200px;
    }   

    .btn,
    input[type=submit] {
        padding: 5px 5px;
        margin: 2px 0;
    }

    input[type=text], select {
        padding: 5px 10px;
        margin: 5px 0;
    }
    
    .socialMedia.col{       
        flex: 0 0 auto; 
        width: 50%;
    }
}


@media screen and (max-width: 725px){    
    .homeContainer{
        padding: 2rem;
        padding-top: 7rem;
        padding-bottom: 3rem;
    }

    .homeImg img{
        height: 250px;
    }

    .aboutCompany{
        column-width:150px;
    }

    .footer{
        padding: 2rem;
        padding-top: 3rem;
        padding-bottom: 0;
    }

    .footerSocialLink{
        padding: .2rem;
    }

    .socialMedia.col{       
        flex: 0 0 auto; 
        width: 40%;
    }
    
    .footerTitle{
        font-size: 15px;
    }

    .footerSocialLink{
        font-size: 15px;
    }
    
}


@media screen and (max-width: 607px){
    /* .homeContainer{
        padding: 5rem;
        padding-top: 7rem;
    } */

    .homeImg img{
        height: 230px;
    }

    .menu3Container{
        padding: 1rem;
        gap: 0.51rem;
        justify-content: space-between;
    }
    
    .homeData h1,
    .menu2Data h1,
    .menu3Data h1,
    .contactData h1,
    .footerTitle{
        font-weight: bold;
        font-size: 15px;
    }

    .homeData p,
    .menu2Data p,
    .menu3Data p,
    .contactData p,
    .footerList,
    .footerCopyright,
    .btn,
    input[type=submit],
    input::placeholder,
    .contactForm input{
        font-size: 9px;
    }

    .footer{
        padding-top: 3rem;
    }

    .footerSocialLink{
        font-size: 11px;
    }
    
    .menu3Img img{
        width: 120px;
    }   

    input[type=text], select {
        padding: 3px 5px;
    }
}

@media screen and (max-width: 500px) {
    .homeImg img{
        height: 180px;
    }

    .homeData h1,
    .menu2Data h1,
    .menu3Data h1,
    .contactData h1,
    .footerTitle{
        font-weight: bold;
        font-size: 13px;
    }

    .homeData p,
    .menu2Data p,
    .menu3Data p,
    .contactData p,
    .footerList,
    .footerCopyright,
    .btn,
    input[type=submit],
    input::placeholder,
    .contactForm input{
        font-size: 7px;
    }

    .footerSocialLink{
        font-size: 9px;
    }
    
    .menu3Img img{
        width: 100px;
    }  
    .input[type=text], select {
        padding: 1px 3px;
    } 
}