@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;600;700&family=Engagement&family=Public+Sans:wght@300;500;700&display=swap');

:root{
    --dark-blue: #174c92;
    --white-grey: #f5f6f7;    
    --yelow-light: #fcf9be;
    --golden:#FFD700;
    --blue-light: #0071BC;

    --body-font: "Public-Sans", sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    background: url("../assets/BG_WhiteEditted.png") repeat;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: var(--body-font);
}

.html{
    scroll-behavior: smooth; 
}

section{
    justify-content: center;
    display: flex;
}

nav.header{
    position: fixed;
    width: 100%;
    top: 0rem;
    left: 0rem;
    padding: 1rem;
    backdrop-filter: blur(10px);
    font-weight: bold;
    z-index: 100;
}

a.nav-link{
    color: var(--golden);
}

a.nav-link.active-link {
    color: var(--yelow-light);
    display: flex;
}

a.nav-link:hover {
    color: var(--yelow-light);
}

.underlineStyle{
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0.3), rgba(225, 225, 225, 0.75), rgba(225, 225, 225, 0.3));
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.btn{
    width: 50%;
    background-color: var(--blue-light);
    color: var(--white-grey);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--dark-blue);
    color: var(--white-grey);
}
/* animation transition */
@keyframes slideFromTop {
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes slideFromLeft {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes bounce{
    60%{
        transform: translateY(-15px);
    }
    0%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(30px);
    }
}

/* home */
.homeContainer{
    /* background-image: url("../assets/bgPaint.png"); */
    background-image: url("../assets/BGBlueWave.png");
    padding: 7rem;
    color: var(--white-grey);
    background-size: cover;
    animation-name: slideFromTop;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: unset;
    animation-direction: normal;
    animation-fill-mode: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

.homeData{
    animation-name: slideFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.homeImg{
    animation-name: slideFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

/* menu2 */
/* ini bagian bg  */
/* .menu2Container{
    background-image: url("../assets/menu2BG.png");
    height: 100vh;
    color: var(--dark-blue);
    background-size: cover;
}

.menu2Data{
    width: 50%;
    padding-top: 25%;
} */

/* ini bagian timpa */
.menu2Container{
    position: relative;
}

.menu2Data{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:var(--dark-blue);
    background-size: auto;
}

/* .yellowSquare {
    width: 350px;
    justify-content: flex-start;
  }

.blueGridSquare{
    width: 500px;
} */


/* menu3Container */
.menu3{
    align-items: center;
    justify-content: center;
}

.menu3Container{
    display: grid;
    justify-content: center;
    padding: 7rem;
    gap: 5rem;
}


.sec1,
.sec2,
.sec3{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.sec2{
    /* justify-content: right; */
}

.menu3Data{
    /* transform: translateX(-100%); */
    width: 50%;
    /* display: grid; */
    grid-template-rows: (2, 1fr);
    margin: auto;
    padding: auto;
    /* display: flex; */
    /* animation-name: slideFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none; */
}
.menu3Data.show-animate .animate{
    /* transform: translateX(0); */
    /* animation-name: slideFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-direction: normal;
    animation-fill-mode: none; */
}
.animate{
    /* transition: 1s; */
}

.menu3Img{
    /* width: 50%; */
    /* animation-name: slideFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none; */
}

/* contact */
/* contact bagian bg  */
/* .contact{
    padding: 0;
    margin:0;
}
.contactContainer{
    background-image: url("../assets/Asset18@300x.png");
    background-size: cover;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contactInnerBoard{
    width: 80%; */
/* } */

    /* contact bgian timpa */
.contact{
    padding: 3rem;
}

.contactContainer{
    align-items: center;
    justify-content: center;
    display: flex;

}

.contactInnerBoard{
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    position: absolute;
    color:var(--dark-blue);
    justify-content: center;
    align-items: center;
} 

.blankBoardImg{
    width: 100%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 100px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 35%;
    background-color: var(--blue-light);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
} 

input[type=submit]:hover {
    background-color: var(--dark-blue);
}


/* footer */
.footer{
    width: 100%;
    /* background-color: var(--dark-blue); */
    background-image: url('../assets/Footer.png');
    color: var(--white-grey);
    /* display: flex; */
    background-size: cover;
    padding: 5rem;
    padding-bottom: 2rem;
    padding-top: 7rem;
    justify-content: center;
    align-items: center;
}

.footerContainer,
.footerCopyright{
    padding: 1rem;
}

.footerTitle{
    padding-top: 1rem;
    margin-bottom: .25rem;
}

.footerList{
    font-size: var(--normal-font-size);
    padding: 0;
    margin: auto;
}

.footerSocial{
    display: flex;
    justify-content: center;
    /* column-gap: 1.25rem; */
}

.footerSocialLink{
    display: inline-block;
    padding: .5rem;
    color: var(--white-grey);
    font-size: 1.5rem;
    transition: transform .4s;
}

.footerSocialLink:hover{
    transform: translateY(-.25rem);
}


/* responsive css */
/* dari max-widt: 991px */