
:root{
    --dark-blue: #174c92;
    --white-grey: #f5f6f7;    
    --yelow-light: #fcf9be;
    --golden:#FFD700;
    --blue-light: #0071BC;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    /* background-color: var(--white-grey); */
    width: 100%;
    /* background: url("../assets/bg.jpg") repeat; */
    background: url("../assets/BG_WhiteEditted.png") repeat;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.html{
    scroll-behavior: smooth; 
}

/* .main{
    overflow: hidden;
} */

section{
    justify-content: center;
    display: flex;
}

nav.header{
    position: fixed;
    width: 100%;
    /* background-color: var(--dark-blue); */
    /* background-image: url("../assets/BG_Blue.jpg"); */
    top: 0rem;
    left: 0rem;
    padding: 1rem;
    backdrop-filter: blur(10px);
    font-weight: bold;
}

a.nav-link{
    color: var(--golden);
}

a.nav-link.active-link {
    color: var(--yelow-light);
    display: flex;
}

a.nav-link:hover {
    color: var(--yelow-light);
}

.underlineStyle{
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0.3), rgba(225, 225, 225, 0.75), rgba(225, 225, 225, 0.3));
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.btn{
    width: 35%;
    background-color: var(--blue-light);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

/* animation transition */
@keyframes slideFromTop {
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes slideFromLeft {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes bounce{
    60%{
        transform: translateY(-15px);
    }
    0%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(30px);
    }
}

/* home */
.homeContainer{
    /* background-image: url("../assets/bgPaint.png"); */
    background-image: url("../assets/BGBlueWave.png");
    padding: 7rem;
    color: var(--white-grey);
    background-size: contain;
    animation-name: slideFromTop;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: unset;
    animation-direction: normal;
    animation-fill-mode: none;
    align-items: center;
    justify-content: center;
}

.homeData{
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    animation-name: slideFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.homeImg{
    animation-name: slideFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

/* menu2 */

.menu2Container{
    background-image: url("../assets/menu2BG.png");
    /* padding: 10rem; */
    height: 100vh;
    color: var(--dark-blue);
    background-size: cover;
}

.menu2Data{
    width: 50%;
    padding-top: 25%;
}


/* .yellowSquare {
    width: 350px;
    justify-content: flex-start;
  }

.blueGridSquare{
    width: 500px;
} */


/* menu3Container */
.menu3{
    align-items: center;
    justify-content: center;
}

.menu3Container{
    display: grid;
    justify-content: center;
    padding: 7rem;
    gap: 5rem;
}


.sec1,
.sec2,
.sec3{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.sec2{
    /* justify-content: right; */
}

.menu3Data{
    /* transform: translateX(-100%); */
    width: 50%;
    /* display: grid; */
    grid-template-rows: (2, 1fr);
    margin: auto;
    padding: auto;
    /* display: flex; */
    /* animation-name: slideFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none; */
}
.menu3Data.show-animate .animate{
    /* transform: translateX(0); */
    /* animation-name: slideFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-direction: normal;
    animation-fill-mode: none; */
}
.animate{
    /* transition: 1s; */
}

.menu3Img{
    /* width: 50%; */
    /* animation-name: slideFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none; */
}

/* contact */
.contact{
    padding: 0;
    margin:0;
}
.contactContainer{
    /* padding: 5rem; */
    background-image: url("../assets/Asset18@300x.png");
    background-size: cover;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contactInnerBoard{
    /* padding: 5rem; */
    /* justify-content: center;
    align-items: center; */
    width: 80%;
}

/* .contact{
    padding: 5rem;
    align-items: center;
}

.contactInnerBoard{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 70%;
    position: absolute;
    transform: translate(50%, 50%);
    top: 10%;
    left: -20%;
    color:var(--dark-blue);
    background-size: contain;
} */

/* .menu4Container{
    position: relative;
} */


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 100px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 35%;
    background-color: var(--blue-light);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
} 

input[type=submit]:hover {
    background-color: var(--dark-blue);
}


/* footer */
.footer{
    width: 100%;
    /* background-color: var(--dark-blue); */
    background-image: url('../assets/Footer.png');
    color: var(--white-grey);
    /* display: flex; */
    background-size: cover;
    padding: 5rem;
    padding-bottom: 2rem;
    padding-top: 7rem;
    justify-content: center;
    align-items: center;
}

.footerContainer,
.footerCopyright{
    padding: 1rem;
}

.footerTitle{
    padding-top: 1rem;
    margin-bottom: .25rem;
}

.footerList{
    font-size: var(--normal-font-size);
    padding: 0;
    margin: auto;
}

.footerSocial{
    display: flex;
    justify-content: center;
    /* column-gap: 1.25rem; */
}

.footerSocialLink{
    display: inline-block;
    padding: .5rem;
    color: var(--white-grey);
    font-size: 1.5rem;
    transition: transform .4s;
}

.footerSocialLink:hover{
    transform: translateY(-.25rem);
}


/* medium device */
@media screen and (max-width: 576px) {
    .homeContainer{
        /* padding: 2rem; */
        width: fit-content;
        background-repeat: no-repeat;
        /* background-image: url("../assets/bgPaintMedium.png");   */
        background-size: cover; 
        margin-left: auto;
        margin-right: auto;
        padding: 9rem;
    }
    .homeImg{
        
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;        
    }
}



/* medium device */
@media screen and (max-width: 1025px) {
    /* section home */
   .homeContainer{
    background-repeat: no-repeat;
    background-size: cover;
   }


}